body {
    margin: 0px;
}

@font-face {
    font-family: ErasMD;
    src: url(./asset/font/ERASMD.TTF) format('truetype')
}
@font-face {
    font-family: Niageng;
    src: url(./asset/font/NIAGENG.TTF) format('truetype')
}
@font-face {
    font-family: Alice;
    src: url(./asset/font/Alice_in_Wonderland_3.ttf) format('truetype')
}

.session {
    width: 100%;
    height: 100vh;
    background-color:#02041c;
    /* background-color:green; */
    /* border-bottom: 1px solid salmon; */
    color: #ececec;
    position: relative;
    overflow: hidden;
}

#main {
    position: relative;
    z-index: 999;
}

#home, #about, #lilgirl, #hunter, #regist, .lilgirl-image, .hunter-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#home {
    background-image: url("./asset/background-01.png");
}
#about {
    background-image: url("./asset/background-02.png");
}
#lilgirl {
    background-image: url("./asset/background-03.png");
}
#hunter {
    background-image: url("./asset/background-04.png");
}
#regist {
    background-image: url("./asset/background-05.png");
}


.subtitle {
    width: 100%;
    text-align: center;
    padding-top: 44vh;
    color: #02041c;
    font-family: ErasMD;
    font-weight: 700;
    font-size: 2.2vh;
}
.free-regist {
    width: 100%;
    text-align: center;
    padding-top: 4vh;
    color: black;
    font-family: Niageng;
    font-size: 4.8vh;
    font-weight: 700;
}
.sign-up {
    cursor: pointer;
    font-family: ErasMD;
    background-color: #070a2c;
    border: 1px solid #ececec;
    color: #ececec;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .5s ease;
}
.sign-up:hover {
    background-color: #ececec;
    color: #070a2c;
    border: 1px solid #070a2c;
    transition: all .5s ease;
}
.navbar-base {
    position: relative;
    z-index: 9999;
}
.navbar {
    height: 100vh;
    position: fixed;
    right: 0;
    width: 15%;
}
.navbar-bundle {
    width: 100%;
    height: 100px;
    margin-top: 28vh;
}

.navbar-list {
    width: 134px;
}

.navbar-list:hover {
    transform: scale(1.1, 1.1);
    transition: all .5 ease;
}
.navbar-about {
    transform: translate(0px, -15px);
    transition: all .5 ease;
}
.navbar-about:hover {
    transform: translate(0px, -15px) scale(1.1, 1.1);
    transition: all .5 ease;
}
.navbar-lilgirl {
    transform: translate(0px, -30px);
    transition: all .5 ease;
}
.navbar-lilgirl:hover {
    transform: translate(0px, -30px) scale(1.1, 1.1);
    transition: all .5 ease;
}
.navbar-hunter {
    transform: translate(0px, -45px);
    transition: all .5 ease;
}
.navbar-hunter:hover {
    transform: translate(0px, -45px) scale(1.1, 1.1);
    transition: all .5 ease;
}
.navbar-registration {
    transform: translate(0px, -60px);
    transition: all .5 ease;
}
.navbar-registration:hover {
    transform: translate(0px, -60px) scale(1.1, 1.1);
    transition: all .5 ease;
}

.wrapper {
    border: 1px solid transparent;
    height: 100vh;
    width: 133vh;
    margin: auto;
    position: relative;
}
.about-title1 {
    font-family: ErasMD;
    font-size: 6.4vh;
    padding-top: 7vh;
    padding-left: 16%;
    color: #ececec;
}
.about-title1 span {
    color: #070a2c;
    font-weight: 600;
}
.about-title2 {
    font-weight: 600;
    color: #070a2c;
    font-family: ErasMD;
    font-size: 6.4vh;
    padding-top: 0vh;
    padding-left: 42.5%;
    font-style: italic;
}
.about-text {
    color: #ececec;
    padding-left: 9%;
    padding-top: 11.5vh;
    font-family: Alice;
}
.about-text .line1 {
    font-size: 5.5vh;
}
.about-text .line2 {
    padding-top: 1.4vh;
    font-size: 4vh;
}
.about-text .line2 span {
    font-size: 5.1vh;
}
.about-text .line3 {
    font-size: 4vh;
}
.about-text .line4 {
    font-size: 6vh;
}

.session-tag {
    position: absolute;
    right: 0;
    padding-right: 1px;
}

.lilgirl-base {
    margin-top: 22.7%;
    width: 50%;
    height: 30vh;
    padding-left: 5.3%;
    /* border: 1px solid seagreen; */
    position: relative;
}

.square {
    float: left;
}
.jargen {
    height: 4vh;
    width: 2vh;
    border: 1px solid #659a95;
    background-color: #659a95;
    transform: skewX(-23deg);
    float: left;
    margin-right: 1.25vh;
}
.lilgirl-title, .hunter-title {
    font-family: Alice;
    font-size: 4vh;
    padding-left: 23%;
}
.lilgirl-subtitle {
    font-family: ErasMD;
    padding-top: 1.6vh;
    padding-left: 6.5%;
    font-size: 2.4vh;
}
.lilgirl-text {
    color: #dfdfdf;
    width: 88%;
    height: 12vh;
    margin-left: 5%;
    margin-top: 8.2%;
    font-family: ErasMD;
    font-size: 2.4vh;

}
.lilgirl-image {
    position: absolute;
    right: 0;
    margin-right: 4.6%;
    margin-top: 10.1%;
    width: 39.3%;
    height: 76.8%;
    background-image: url("./asset/Terra.png");
}

.hunter-image {
    float: left;
    width: 30.1%;
    height: 67.1%;
    /* border: 1px solid salmon; */
    margin-top: 15%;
    margin-left: 6.6%;
    background-image: url("./asset/Hunter.png");
}
.hunter-base {
    margin-left: 7.7%;
    float: left;
    width: 48.7%;
    height: 100%;
    /* border: 1px solid seagreen; */
    margin-top: 17.8%;
    padding-left: .8%;
}
.hunter-subtitle {
    font-family: ErasMD;
    padding-top: 1.8vh;
    padding-left: 12.9%;
    font-size: 2.4vh;
}
.hunter-text {
    color: #dfdfdf;
    width: 94%;
    height: 12vh;
    margin-left: 5%;
    margin-top: 8.2%;
    font-family: ErasMD;
    font-size: 2.4vh;
    /* border: 1px solid salmon; */
}
.hunter-question {
    font-family: Alice;
    margin-top: 33%;
    margin-left: 13.4%;
    font-size: 7.48vh;
}


.regist-center {
    width: 69%;
    height: 38%;
    margin: auto;
    margin-top: 23%;
    display: grid;
    grid-template-columns: [v1] 45% [v2] 5% [v3] 50% [v4];
    grid-template-rows: [h1] 20% [h2] 20% [h3] 20% [h4];
    color: #dfdfdf;
    font-family: ErasMD;
    font-size: 3.4vh;
}
.label1 {
    grid-column: v1 / v2;
    grid-row: h1 / h2;
}
.label2 {
    grid-column: v1 / v2;
    grid-row: h2 / h3;
}
.label3 {
    grid-column: v1 / v2;
    grid-row: h3 / h4;
}
.tikdu1, .tikdu2, .tikdu3 {
    padding-left: 32%;
}
.tikdu1 {
    grid-column: v2 / v3;
    grid-row: h1 / h2;
}
.tikdu2 {
    grid-column: v2 / v3;
    grid-row: h2 / h3;
}
.tikdu3 {
    grid-column: v2 / v3;
    grid-row: h3 / h4;
}

.input1, .input2, .input3 {
    width: 98%;
    height: 43%;
    padding-left: 1vh;
}
.input1 {
    grid-column: v3 / v4;
    grid-row: h1 / h2;
}
.input2 {
    grid-column: v3 / v4;
    grid-row: h2 / h3;
}
.input3 {
    grid-column: v3 / v4;
    grid-row: h3 / h4;
}
.regist-button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: #070a2c;
    font-family: ErasMD;
    font-size: 3vh;
    font-weight: 600;
    background-color: #31686f;
    border: none;
}
.regist-button:hover {
    background-color: #659a95;
}
.reg-button {
    transform: translate(0px, -6.8vh);
    width: 20vh;
    margin: auto;
    height: 6vh;
}